@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
  
.portfolio-item {
    margin-bottom: 30px;  
}
  
body {
    padding-top: 100px;
}
  
.pagination {
    margin-bottom: 30px;
}


.content {
    /* margin: 100px; */
    padding: 50px;
}