{% extends "products/base.html" %}
{% load staticfiles %}
{% block css %}
<link href="{% static "css/style.css" %}" rel="stylesheet">
<style media="screen">
  a {
    color: white;
  }
</style>
{% endblock %}
{% block content %}
    <div>
        <h1>Hello</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam magnam, eaque unde repellendus fuga voluptas earum recusandae ipsum. Rem eaque non nemo voluptatem ratione? Blanditiis soluta modi quas? Error, esse?</p>
    </div>
{% endblock %}